@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body{
    height: 98vh;
    width: 98vw;   
    font-family: 'overpass', san-serif;
    display: flex;
    justify-content: center;
    background-color: black;
    transition: 300ms;
}
.star{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
}
.main-div{
    height: 500px;
    max-width: 450px;
    background-color: hsl(216, 48%, 13%);
    color: white;
    border-radius: 25px;
    padding: 40px;
    align-self: center;
    box-sizing: border-box;
}
.main-div-first{
    height: 500px;
    max-width: 450px;
    min-width: 450px;
    background-color: hsl(216, 48%, 13%);
    color: white;
    border-radius: 25px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
    box-sizing: border-box;
}
.main-div p{
    line-height: 1.5;
    font-size: 1.2rem;
}
.number{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
#div1, #div-2, #div-3, #div-4, #div-5{
    background-color: hsl(213, 19%, 18%);
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(217, 12%, 63%);
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
}
#div1:active, #div-2:active, #div-3:active, #div-4:active, #div-5:active{
    background-color: gray;
}
.number{
    margin: 30px 0 20px 0;
}
button{
    height: 60px;
    width: 100%;
    border-radius: 60px;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
    transition: 100ms;
}
.sub-but{
    border-radius: 0;
    height: 100px;
}
#button1{
    display: block;
    position: absolute;
    top: 200px;
    left: 390px;
    border-radius: 0;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button button{
    background-color: red;
}
#button1 svg{
    height: 30px;
    margin: 5px 0 0 0 ;  
 }
button a {
    text-decoration: none;
    color: white;
}
/* for the submit page */
.phone{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}
.phone img {
    width: 200px;
}
.selected{
    width: 200px;
    height: 35px;
    margin: 60px 0 0 0;
    display: flex;
    color: hsl(25, 97%, 53%);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-self: center;
    border-radius: 20px;
    background-color: hsl(213, 19%, 18%);
}
.main-div-first{
    position: absolute;
    display: none;
    align-items: center;
    text-align: center;
}
.p-tag{
    font-size: 1.14rem;
}

/* end of the submit page */
button a:active {
    text-decoration: none;
    color: hsl(25, 97%, 53%);
}
button:active{
    background-color: white;
    color: hsl(25, 97%, 53%);
}
@media (min-width:0px) and (max-width:527px) {
    .main-div{
        transform: scale(0.8);
    }
    .main-div-first{
        transform: scale(0.8);
    }
}
@media (min-width:0px) and (max-width:434px) {
    .main-div{
        transform: scale(0.7);
    }
    .main-div-first{
        transform: scale(0.7);
    }
    /* #button1{
        left: 350px;
    } */
}
@media (min-width:0px) and (max-width:368px) {
    .main-div{
        transform: scale(0.6);
    }
    .main-div-first{
        transform: scale(0.6);
    }
}
@media (min-width:0px) and (max-width:320px) {
    .main-div{
        transform: scale(0.5);
    }
    .main-div-first{
        transform: scale(0.5);
    }
}
@media (min-width:0px) and (max-width:265px) {
    .main-div{
        transform: scale(0.4);
    }
}